# Java / Gradle
.gradle/
build/
bin/
out/
.kotlin/

# Gradle Wrapper
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Securitate - DATE SENSIBILE
.env
.env.local

# Sistem
.DS_Store
Thumbs.db

# Log-uri
*.log